.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #282a2c;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #1d6cff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #1d6cff;
  cursor: pointer;
}
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #282a2c;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.body {
  margin-top: 60px;
}
.div-table {
  overflow-y: scroll;
  background-color: #002633;
  width: 100%;
  height: 500px;
  overflow: auto;
}
