<!-- Map Componenet -->
<div ng-controller="MapController">
    <leaflet lf-center="maryland" markers="markers" path="path" height="500px" width="100%"></leaflet>
    <div ng-controller="SliderController">
        <div class="slidecontainer">
            <input ng-mouseup="makeCall()" ng-disabled="isDisabled" ng-model="levelvalue" type="range" min="1" max="{{ max }}" class="slider" id="myRange">
            <p>Top Results: {{ levelvalue }}</p>
            <div></div>
            Change # of Markers: <input ng-change="makeCall()" ng-model="levelvalue" placeholder="Number of markers shown"/>
        </div>
    </div>
</div>